@import "../../../styles.scss";

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  z-index: 2;
  background-color: rgba(49, 52, 57, 0.404);
  backdrop-filter: blur(10px);
  transition: all 0.4s ease;
  .logo {
    color: $ColorOrangeDark;
  }
  nav {
    display: flex;
    gap: 1rem;
    a {
      font-size: 0.8rem;
      font-weight: 400;
      color: $ColorOrangeLight;
      text-decoration: none;
      transition: all 0.4s ease;
      &:hover {
        scale: 1.2;
      }
    }
  }
  &.border {
    box-shadow: 1px 1px 10px $ColorOrangeDark;

    height: 2.6rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 0 1rem;
  }
}
