<section id="interests">
  <h1 class="section-title">INTERESTS</h1>
  <p class="section-description">
    Since my studies i was interested in innovative and cutting edge
    architecture, and always for the lookout in the latest updates in the world
    of design and architecture, I'm also a believer in the essential role
    architecture plays in shaping our lives and mental state, and therefore
    think that the human should always be the starting point of every design.
    being up to date with design and visualisation softwares is a task I take
    seriously, because higher proficiency using these design mediums leads to a
    high-quality product and experience.
  </p>
  <ng-lottie [options]="options" class="interests-lottie" />
</section>
