@import "../../../styles.scss";

.work-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  .work-title {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    background: $ColorGradient;
  }
}

@media screen and (max-width: 600px) {
  .work-items {
    grid-template-columns: 1fr;
  }
}
