<section id="timeline" #timeline>
  <h1 class="section-title">TIMELINE</h1>
  <p class="section-description">
    I was lucky to have the opportunity to work in different countries, with
    different amazing architects and designers along my journey, every
    experience i had shaped my design identity and gave it something new and
    here in this interactive timeline you can know all about that in greater
    detail:
  </p>
  <ng-lottie [options]="options" (animationCreated)="onAnimate($event)" />
</section>
